# Node.js dependencies
/app/node_modules
/app/package-lock.json

# Logs
*.log
npm-debug.log*

# Docker
**/docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# Environment variables (if you add any)
/.env

# Optional: exclude build artifacts
/app/dist
